{% extends 'base.html' %}
{% block content %}

<h2>Code Library</h2>
<p>Welcome to my collection of learning resources.</p>
<p>Starting in May of 2018 I embarked on a journey to teach myself programming. The most difficult part of this journey was where to start. For me, HTML and CSS were the answer to that question. After that, I explored JavaScript to round out my front-end knowledge and then that question came up again but deciding where to go was even more difficult.</p>
<p>The answer to all of this is unique to each individual and so my path is certainly not the only path to take. I created this site to collect the resources I used along the way that I found most helpful and maybe more importantly, the resources that I continue to return to along the way.</p>
<p>This is a long journey that is frequently frustrating but with each frustration solved comes excitement and renewed enthusiasm to continue on.  I hope that these resources help future self directed developers find their way.</p>

<p>This site is built with Django, a Python Framework. Much of the content detail is delivered from Postgresql, an SQL database. The frontend is built with vanilla html, css, and JavaScript plus a bit of Bootstrap.</p>
<p>Everything you find here can be learned through the resources listed on this site. If you have any questions regarding this or other programming please reach out. I am always happy to answer questions.</p>

{% endblock %}